@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>MagniFinance University</h2>
        <p>
            Seja bem-vindo ao sistema de gerenciamento da universidade MagniFinance.
        </p>
        <p>
            Aqui você pode gerenciar estudantes, professores, notas e muito mais.
        </p>
    </div>
</div>